{% extends 'main/base.html' %}



{% block title %} Entrada {% endblock %}



{% block content%} <br>

    {% include 'main/main_navbar.html' %}

    <br>

<div class="container">
  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3 blue-text"><a class="active indigo white-text" href="#test-swipe-1">Entrar como paciente</a></li>
    <li class="tab col s3"><a  class="purple white-text" href="#test-swipe-2">Entrar como doctor</a></li>
  </ul>
  <div id="test-swipe-1" class="col s12 white row">
    
      <div > <br>



            <div class="col s5">
                <img src="https://w0.peakpx.com/wallpaper/834/159/HD-wallpaper-anime-aesthetic-aesthetic-anime.jpg" alt="" width="380" height="300">     
            </div>

            <div class="col s5">
                <h4 class=" blue darken-4 white-text center">Pacientes</h4>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="email" type="text" class="validate">
              <label for="email">Cedula</label>
            </div>

            

            <div class="input-field col s5">
              <input onchange="safe_login_user()" placeholder="Numero de Cedula" name="user_id" id="user_login_field" type="text" class="validate">
              <label for="login_user_field">Cedula</label>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="email" type="text" class="validate">
              <label for="email">Id de Usuario</label>
            </div>
  
            <div class="input-field col s5">
              <input onchange="safe_login_user()" placeholder="Contraseña" name="user_password" id="login_password_field" type="password" class="validate">
              <label for="user_password">Contraseña</label>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="email" type="text" class="validate">
              <label for="email">Id de Usuario</label>
            </div>

            
      
            <div class="center">
              <a onclick="validate_user()" class="btn blue darken-4 col s1 container offset-s1" name="person" id="user_login_button">Entrar</a>
                <a href="/home/" class="btn pink col s1 container offset-s1" name="person" id="">Volver</a>
            </div>
              
          </div>

  </div>


  <div id="test-swipe-2" class="col s12 white">

    <div class="row ">
   
      <div > <br>

        <span id="msg">{{ msg }}</span>

            <div class="col s5">
                <img src="https://wallpapercave.com/wp/wp3616957.jpg" alt="" width="380" height="300">     
            </div>

            <div class="col s5">
                <h4 class=" purple white-text center">Doctores</h4>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="email" type="text" class="validate">
              <label for="email">Cedula</label>
            </div>

            

            <div class="input-field col s5">
              <input onchange="safe_login_doctor()" placeholder="Numero de Cedula" name="user_id" id="doctor_login_field" type="text" class="validate">
              <label for="login_user_field">Cedula</label>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="email" type="text" class="validate">
              <label for="email">Id de Usuario</label>
            </div>
  
            <div class="input-field col s5">
              <input onchange="safe_login_user()" placeholder="Contraseña" name="user_password" id="doctor_password_field" type="password" class="validate">
              <label for="user_password">Contraseña</label>
            </div>

            <div class="input-field col s2" style="visibility: hidden">
              <input name="0" id="email" type="text" class="validate">
              <label for="email">Id de Usuario</label>
            </div>

            
      
            <div class="center">
              <a onclick="validate_doctor()" class="btn blue darken-4 col s1 container offset-s1" name="person" id="doctor_login_button">Entrar</a>
                              <a href="/home/" class="btn pink col s1 container offset-s1" name="person" id="">Volver</a>

            </div>
              
          </div>

  </div>
    </div>


  </div>
</div>


{% endblock%}