{% extends 'main/base.html' %}
{%block content%} 
{% include 'main/main_navbar.html' %}

<br />

<div class="container">
  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3 blue-text">
      <a class="active indigo white-text" href="#test-swipe-1"
        >Registrarse como paciente</a
      >
    </li>
    <li class="tab col s3">
      <a class="purple white-text" href="#test-swipe-2"
        >Registrarse como doctor</a
      >
    </li>
  </ul>
  <div id="test-swipe-1" class="col s12 white row">
    <div>
      <br />

      <div class="container">
        <div class="col s12 container" id="post-form">
          {% csrf_token %}

          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input
                    placeholder="Cedula del paciente"
                    id="ru_id"
                    type="text"
                    class="validate"
                  />
                  <label for="first_name">Cedula Paciente</label>
                </div>

                <div class="input-field col s12">
                  <input
                    placeholder="Nombre"
                    id="ru_name"
                    type="text"
                    class="validate"
                  />
                  <label for="first_name">Nombre</label>
                </div>

                <div class="input-field col s12">
                  <input
                    placeholder="Segundo nombre"
                    id="ru_sname"
                    type="text"
                    class="validate"
                  />
                  <label for="first_name">Segundo nombre</label>
                </div>

                <div class="input-field col s12">
                  <input
                    placeholder="Apellido"
                    id="ru_lastname"
                    type="text"
                    class="validate"
                  />
                  <label for="first_name">Apellido</label>
                </div>

                <div class="input-field col s12">
                  <input
                    placeholder="Segundo apellido"
                    id="ru_slastname"
                    type="text"
                    class="validate"
                  />
                  <label for="first_name">Segundo apellido</label>
                </div>

                <div class="input-field col s12">
                  <input
                    placeholder="Fecha de nacimiento"
                    id="ru_bdate"
                    type="date"
                    class="validate"
                  />
                  <label for="first_name">Fecha de nacimiento</label>
                </div>

                <div class="center">
                  <button
                    onclick="register_user()"
                    class="btn purple darken-4"
                    name="doctor"
                    type="submit"
                  >
                    Registrarse
                  </button>
                  <a href="/home/" class="btn pink">Volver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="test-swipe-2" class="col s12 white row">
    <div>
      <br />

      <div class="container">
        <div class="col s12 container" id="post-form">
          {% csrf_token %}

          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input
                    placeholder="Ingrese una titulacion o diplomado que posea"
                    id="rd_title"
                    type="text"
                    class="validate"
                  />
                  <label for="first_name">Ttulo extra del Doctor</label>
                </div>

                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input
                        placeholder="Cedula de doctor"
                        id="rd_id"
                        type="text"
                        class="validate"
                      />
                      <label for="first_name">Cedula Doctor</label>
                    </div>

                    <div class="input-field col s12">
                      <input
                        placeholder="Nombre "
                        id="rd_name"
                        type="text"
                        class="validate"
                      />
                      <label for="first_name">Nombre</label>
                    </div>

                    <div class="input-field col s12">
                      <input
                        placeholder="Segundo nombre"
                        id="rd_sname"
                        type="text"
                        class="validate"
                      />
                      <label for="first_name">Segundo nombre</label>
                    </div>

                    <div class="input-field col s12">
                      <input
                        placeholder="Apellido"
                        id="rd_lastname"
                        type="text"
                        class="validate"
                      />
                      <label for="first_name">Apellido</label>
                    </div>

                    <div class="input-field col s12">
                      <input
                        placeholder="Segundo apellido"
                        id="rd_slastname"
                        type="text"
                        class="validate"
                      />
                      <label for="first_name">Segundo apellido</label>
                    </div>

                    <div class="input-field col s12">
                      <input
                        placeholder="Fecha de nacimiento"
                        id="rd_bdate"
                        type="date"
                        class="validate"
                      />
                      <label for="first_name">Fecha de nacimiento</label>
                    </div>

                    <div class="center">
                      <button
                        onclick="register_doctor()"
                        class="btn purple darken-4"
                        name="doctor"
                        type="submit"
                      >
                        Registrarse
                      </button>
                      <a href="/home/" class="btn pink">Volver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}
