{% extends "main/base.html" %}

{% block title %} Quienes somos {% endblock %}

{% block content%}

<div class="container">
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> <!-- random image -->
            
          </li>
          <li>
            <img src="https://images.pexels.com/photos/5327649/pexels-photo-5327649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> <!-- random image -->
            
          </li>
          <li>
            <img src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> <!-- random image -->
            
          </li>
          <li>
            <img src="https://images.pexels.com/photos/8376148/pexels-photo-8376148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> <!-- random image -->
            
          </li>
        </ul>
      </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Healthy Fork</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
      <div class=" container  ">

        <div class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Molestias aliquid assumenda aliquam doloremque quaerat.
          Ea aliquam, delectus quas cum incidunt nemo, magni, recusandae qui voluptas cupiditate impedit! 
          Mollitia, magnam tenetur.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quo nam itaque ducimus beatae 
          illum porro veritatis earum quam velit culpa eius error, aperiam vero, fuga magnam molestias sunt
          laudantium!
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel temporibus quasi rem, tempora aperiam inventore
          qui iste quis, optio error voluptate laboriosam nisi, repudiandae vitae! Ipsa in ex quod et!
        </div>

        <br>

        <div class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Molestias aliquid assumenda aliquam doloremque quaerat.
          Ea aliquam, delectus quas cum incidunt nemo, magni, recusandae qui voluptas cupiditate impedit! 
          Mollitia, magnam tenetur.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quo nam itaque ducimus beatae 
          illum porro veritatis earum quam velit culpa eius error, aperiam vero, fuga magnam molestias sunt
          laudantium!
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel temporibus quasi rem, tempora aperiam inventore
          qui iste quis, optio error voluptate laboriosam nisi, repudiandae vitae! Ipsa in ex quod et!
        </div>

        <br>
</div>

<div class="parallax-container">
  <div class="parallax container"><img src="https://images.pexels.com/photos/3070032/pexels-photo-3070032.jpeg"></div>
</div>

{% endblock %}