{% extends 'main/base.html' %}

{% block title %} Doctor {% endblock %}

{% block content %} 



<div class="container">
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="https://images.pexels.com/photos/1502286/pexels-photo-1502286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>
      <a href="#user"><img class="circle" src="https://images.pexels.com/photos/5490142/pexels-photo-5490142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></a>
      <a href="#name"><span class="white-text name">{{data.person.name}}</span></a>
      <a href="#email"><span class="white-text email">{{titles.doctor_account.doctor_email}}</span></a>
    </div></li>
    <li><a class="subheader">Pacientes</a></li>
    <li><a href="/buscar_paciente/"><i class="material-icons">person_search</i>Mostrar</a></li>

    <li><a href="/buscar_registro/"><i class="material-icons">manage_search</i>Buscar registros</a></li>

    <li><a href="/enviar_diagnostico/"><i class="material-icons">mail</i>Expedir diagnostico</a></li>


    
    <li><div class="divider"></div></li>
    <li><a class="subheader">Doctor</a></li>
    <li><a href="/actualizar_doctor/{{data.person.person_id}}"><i class="material-icons">sync_alt</i>Actualizar datos</a></li>  </ul>
    


</div>
      


<div class="section white">
  <div class="row container">
    <h2 class="header">Hola  {{data.person.name}}</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
      <div class=" container  ">

        <div class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Molestias aliquid assumenda aliquam doloremque quaerat.
          Ea aliquam, delectus quas cum incidunt nemo, magni, recusandae qui voluptas cupiditate impedit! 
          Mollitia, magnam tenetur.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quo nam itaque ducimus beatae 
          illum porro veritatis earum quam velit culpa eius error, aperiam vero, fuga magnam molestias sunt
          laudantium!
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel temporibus quasi rem, tempora aperiam inventore
          qui iste quis, optio error voluptate laboriosam nisi, repudiandae vitae! Ipsa in ex quod et!
        </div>

       

       

        <br>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="https://images.pexels.com/photos/1502286/pexels-photo-1502286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></div>
</div>



<div class="fixed-action-btn floating-action-btn">
  <a class="btn-floating btn-large red btn-large pulse indigo sidenav-trigger" data-target="slide-out">
    <i class="large material-icons">menu</i>
  </a>
</div>
            



{% endblock %}

