{% extends 'main/base.html' %}

{% block title %} Enviar Diagnostico {% endblock %}

{% block content%} 

{% include 'main/doctor_navbar.html' %}

<br>

<div class="row ">

    
  
      <div class="col s12 container">{% csrf_token %}

          <div class="container">

            <div class="col s6">
                <img src="https://img.freepik.com/free-vector/hand-drawn-colorful-abstract-leaves-pattern_79603-1779.jpg?w=740&t=st=1656442808~exp=1656443408~hmac=8dece7abfcc85cb2002a39fad89c2bc62917f88ceec6aa07663ecd74a339b38f" alt="" width="400" height="470">
                
            </div>

            <div class="col s6">
                <h3 class="header blue white-text">Envío de diagnóstico</3>
            </div>

              <div class="input-field col s6">
                <input name="doctor_id" disabled value="{{data.doctor.person_id}}" id="diu_id" type="text" class="validate">
                <label for="first_name">Cedula del Doctor Tratante</label>
              </div>

              <div class="input-field col s6">
                <input name="patient_id" disabled value="{{user.person.person_id}}" id="did_id" type="text" class="validate">
                <label for="first_name">Cedula del Paciente</label>
              </div>

            

              <div class="input-field col s6">
                <input name="diagnostic_text" id="d_text" type="text" class="validate" placeholder="Diagnostic"></input>
                <label for="email">Texto de Diagnostico</label>
              </div>

              
            </div>
            
            <div class="center">
              <button onclick="send_diagnostic()" class="btn blue darken-4 col s4 container" type="submit">Enviar</button>
            </div>

            <div class="center" style="visibility:hidden">
              <button   class="btn btn-primary pink col s4 container" id="update_user_button" type="submit">Volver</button>
            </div>

            <div class="center">
              <button onclick="go_doctor({{data.doctor.person_id}})" class="btn btn-primary pink col s4 container" id="update_user_button" type="submit">Volver</button>
            </div>

               </div>
              </div>
    </div>


    



{% endblock%}