{% extends 'main/base.html' %}

{% block title %} Paciente {% endblock %}

{% block content%} 

<div class="row container">
  <h3 class="indigo white-text center-align"> Formulario de Registro</h3>

        <div class="container">
          <h5  class="indigo darken-4 col s6 white-text center-align">Regist. como <a href={{ '/register_user/'}}> Usuario</a></h5>
          <h5 class="indigo col s6 white-text center-align">O  como <a href={{ '/register_doctor/'}}> Doctor</a></h5>
          <h5 class="purple darken-4 col s8 white-text center-align offset-s2">Pulse sobre la opción que desee</h5>

    <form action="" method="POST" class="col s12 container" id="post-form">{% csrf_token %}
       
          {{form}}
  
          <div class="center">
            <button class="btn indigo darken-4" name="" type="submit">Registrarse</button>
          </div>

    
        </div>
    </form>
  </div>

{% endblock%}