{% extends 'main/base.html' %}

{% block title %} Actualizar Datos de Paciente {% endblock %}

{% block content%}

    {% include 'main/user_navbar.html' %}

    <br>



<div class="row ">

      <div class="col s12 container" >{% csrf_token %}

          <div class="container">

            <div class="col s6">
                <img 
                src="https://img.freepik.com/free-vector/hand-drawn-colorful-abstract-leaves-pattern_79603-1779.jpg?w=740&t=st=1656442808~exp=1656443408~hmac=8dece7abfcc85cb2002a39fad89c2bc62917f88ceec6aa07663ecd74a339b38f" 
                alt="" width="400" height="700">
                
            </div>

            <div class="col s6">
                <h3 class="header pink white-text">Actuaizar Paciente</h3>
            </div>

            <div class="input-field col s6">
                <input name="person_id" disabled value={{data.person.person_id}} id="u_id" type="text" class="validate">
                <label for="first_name">Cedula</label>
              </div>

              <div class="input-field col s6">
                <input name="name" value={{data.person.name}} id="u_name" type="text" class="validate">
                <label for="first_name">Nombre</label>
              </div>

              <div class="input-field col s6">
                <input name="second_name" value={{data.person.second_name}} id="u_sname" type="text" class="validate">
                <label for="first_name">Segundo nombre</label>
              </div>

              <div class="input-field col s6">
                <input name="lastname" value={{data.person.lastname}} id="u_lastname" type="text" class="validate">
                <label for="first_name">Apellido</label>
              </div>

              <div class="input-field col s6">
                <input name="second_lastname" value={{data.person.second_lastname}} id="u_slastname" type="text" class="validate">
                <label for="first_name">Segundo Apellido</label>
              </div>

              <div class="input-field col s6">
                <input name="age" value={{data.person.age}} id="u_bdate" type="date" class="validate">
                <label for="first_name">Fecha de Nacimiento MM-DD-AA</label>
              </div>
              
            </div>
                         
            <div class="center">
              <button onclick="update_user()" class="btn btn-primary blue col s4 container" id="update_user_button" type="submit">Actualizar</button>
            </div>

          <div class="center"  style="visibility: hidden">
              <button  class="btn btn-primary pink col s4 container" id="update_user_button" type="submit">Volver</button>
            </div>

            <div class="center">
              <button onclick="go_user({{data.person.person_id}})" class="btn btn-primary pink col s4 container" id="update_user_button" type="submit">Volver</button>
            </div>
               </div>
              </div>
    </div>

{% endblock%}