{% extends 'main/base.html' %}

{% block title %} Usuario {% endblock %}

{% block content %} 

{% include 'main/main_navbar.html' %}

<br />

<div class="container center">
    <div class="row">
        <div class="col s12 m12">
          <div class="card large">
            <div class="card-image">
              <img src="https://materializecss.com/images/sample-1.jpg">
              <span class="card-title">Felicidades</span>
            </div>
            <div class="card-content">
              <p>Su proceso de registro se ha completado con exito, para ver sus credenciales de usuario presione el siguiente boton, 
                recuerde que puede cambiarlas cuando lo desee.</p>
            </div>
            <div class="card-action">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger indigo darken-4" href="#modal1">Presioname</a>


              <a href="/login/" class="waves-effect waves-light btn modal-trigger pink " href="#modal1">Iniciar sesion</a>


            </div>
          </div>
        </div>
      </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Credenciales de inicio de sesion</h4>
    <br>
    <p>Su id de usuario es: {{data.user_account.user_account_id}} <br>
        Su correo es:  {{data.user_account.user_email}} <br>
        Su nombre de usuario es: {{data.user_account.username}} <br>
        Su contraseña es: {{data.user_account.user_password}} <br>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
  </div>
</div>

{% endblock %}

